# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local data and logs
data/*.jsonl
*.log

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
